# Deny access to .htaccess

<Files .htaccess>
	Deny from all
</Files>

<Files *>
	Order deny,allow
	Allow from 192.168
	allow from 127.0.0.1
	Allow from localhost
	Allow from 82.237.23.247
</Files>
<Limit POST PUT>
	Allow from 82.237.23.247
	Allow from 192.168.0.3
	allow from localhost
	allow from 127.0.0.1
</Limit>

Options -Indexes
